= render "shared/page_heading", page_name: "About Us"
.container
  .about-us-two
    .block-heading-two
      %h3
        %span ABOUT SOMNANG PHONE SHOP
    
    - @about_us.each do |about_us|
      .row
        .col-md-5.col-sm-8
          = render "slider"
        .col-md-7.col-sm-12
          = render partial: "profile_description", locals: { about_us: about_us }
    
    %hr
    
    .block-heading-two
      %h3
        %span Our Service

    .icon-box-4
      .row
        .col-md-3.col-sm-6
          = render "about_us/services/fix_mobile"
        .col-md-3.col-sm-6
          = render "about_us/services/app_install"
        .col-md-3.col-sm-6
          = render "about_us/services/sell_case"
        .col-md-3.col-sm-6
          = render "about_us/services/buy_second_hand" 
