= render 'shared/admin/page_header', page_name: 'Accessory List'

%p= "Name : #{@accessory.name}"
%p= "Price : #{@accessory.price}"
%p= "Description : #{@accessory.description}"
%p= "Features : #{@accessory.features}"
