.contact-form
  %h5 Contact Form
  = simple_form_for @contact, as: 'contact', url: contact_us_path, method: "post", html: {id: "form", role: "form"} do |f|
    .form-group
      = f.input :name, placeholder: 'Enter Name', label: false
    .form-group
      = f.input :sender, as: :email, placeholder: 'Enter Email', label: false
    .form-group
      = f.input :body, as: :text, placeholder: 'Enter Message', input_html: {cols:40 , rows:7}, label: false

    = f.button :submit, 'Submit', id: "send-mail", class: "btn btn-red"
    = f.button :button, 'Reset', :type => 'reset', :class => 'btn btn-default'
