= render "shared/page_heading", page_name: "Contact Us"

.container
  .contact-us-two
    .row
      .col-md-5
        = render "form"
        %hr/
      .col-md-7
        = render "map"
        %hr

    .row.text-center
      .col-md-3.col-sm-6
        = render "contact_us/contact-items/call_us"
      .col-md-3.col-sm-6
        = render "contact_us/contact-items/address"
      .col-md-3.col-sm-6
        = render "contact_us/contact-items/mail_us"
      .col-md-3.col-sm-6
        = render "contact_us/contact-items/business_hours"
