.recent-items
  .block-heading-two
    %h3
      %span Recent Items
  .owl-carousel{"data-auto-play" => "true", "data-items" => "5", "data-pagination" => "true", "data-single-item" => "false"}
    .owl-content
      .padd-15
        %a{:href => "#"}
          = image_tag "ecommerce/1.png", class: "img-responsive"
        %h4
          %a{:href => "#"}
            Motorola G
            %span.color.pull-right $25
        .clearfix
    .owl-content
      .padd-15
        %a{:href => "#"}
          = image_tag "ecommerce/1.png", class: "img-responsive"
        %h4
          %a{:href => "#"}
            Google Nexus 7
            %span.color.pull-right $25
        .clearfix
    .owl-content
      .padd-15
        %a{:href => "#"}
          = image_tag "ecommerce/1.png", class: "img-responsive"
        %h4
          %a{:href => "#"}
            Samsung Galaxy
            %span.color.pull-right $25
        .clearfix
    .owl-content
      .padd-15
        %a{:href => "#"}
          = image_tag "ecommerce/1.png", class: "img-responsive"
        %h4
          %a{:href => "#"}
            Lenovo Phonepad
            %span.color.pull-right $25
        .clearfix
    .owl-content
      .padd-15
        %a{:href => "#"}
          = image_tag "ecommerce/1.png", class: "img-responsive"
        %h4
          %a{:href => "#"}
            Asus Ideapad
            %span.color.pull-right $25
        .clearfix
    .owl-content
      .padd-15
        %a{:href => "#"}
          = image_tag "ecommerce/1.png", class: "img-responsive"
        %h4
          %a{:href => "#"}
            Micromax Canvas
            %span.color.pull-right $25
        .clearfix
    .owl-content
      .padd-15
        %a{:href => "#"}
          = image_tag "ecommerce/1.png", class: "img-responsive"
        %h4
          %a{:href => "#"}
            Sony Xperia Pro
            %span.color.pull-right $25
        .clearfix
    .owl-content
      .padd-15
        %a{:href => "#"}
          = image_tag "ecommerce/1.png", class: "img-responsive"
        %h4
          %a{:href => "#"}
            Apple iPhone 5S
            %span.color.pull-right $25
        .clearfix
    .owl-content
      .padd-15
        %a{:href => "#"}
          = image_tag "ecommerce/1.png", class: "img-responsive"
        %h4
          %a{:href => "#"}
            Galaxy Tab 2
            %span.color.pull-right $25
        .clearfix
    .owl-content
      .padd-15
        %a{:href => "#"}
          = image_tag "ecommerce/1.png", class: "img-responsive"
        %h4
          %a{:href => "#"}
            Karboon Tab
            %span.color.pull-right $25
        .clearfix
