.shopping-content
  .block-heading-two
    %h3
      %span
        %i.fa.fa-laptop.color>
        &nbsp; Phones
  .row
    .col-md-4.col-sm-6
      .shopping-item
        %a{:href => "ecom-item-single.html"}
          = image_tag "ecommerce/2.png", class: "img-responsive"
        %h4
          %a{:href => "ecom-item-single.html"} Quasi Architects
          %span.color.pull-right $49
        .clearfix
        .item-hover.bg-color.hidden-xs
          %a{:href => "item-single.html"} Detail Phone
    .col-md-4.col-sm-6
      .shopping-item
        %a{:href => "ecom-item-single.html"}
          = image_tag "ecommerce/2.png", class: "img-responsive"
        %h4
          %a{:href => "ecom-item-single.html"} Byances Kcepte
          %span.color.pull-right $49
        .clearfix
        .item-hover.bg-color.hidden-xs
          %a{:href => "#"} Add to cart
        %span.hot-tag.bg-red NEW
    .col-md-4.col-sm-6
      .shopping-item
        %a{:href => "ecom-item-single.html"}
          = image_tag "ecommerce/2.png", class: "img-responsive"
        %h4
          %a{:href => "ecom-item-single.html"} Cepturi Sintocc
          %span.color.pull-right $49
        .clearfix
        .visible-xs
          %a.btn.btn-color.btn-sm{:href => "#"} Buy Now
        .item-hover.bg-color.hidden-xs
          %a{:href => "#"} Add to cart
    .col-md-4.col-sm-6
      .shopping-item
        %a{:href => "ecom-item-single.html"}
          = image_tag "ecommerce/2.png", class: "img-responsive"
        %h4
          %a{:href => "ecom-item-single.html"} Excepteur Sint
          %span.color.pull-right $49
        .clearfix
        .visible-xs
          %a.btn.btn-color.btn-sm{:href => "#"} Buy Now
        .item-hover.bg-color.hidden-xs
          %a{:href => "#"} Add to cart
        %span.hot-tag.bg-lblue HOT
    .col-md-4.col-sm-6
      .shopping-item
        %a{:href => "ecom-item-single.html"}
          = image_tag "ecommerce/2.png", class: "img-responsive"
        %h4
          %a{:href => "ecom-item-single.html"} Occam Cupid
          %span.color.pull-right $49
        .clearfix
        .visible-xs
          %a.btn.btn-color.btn-sm{:href => "#"} Buy Now
        .item-hover.bg-color.hidden-xs
          %a{:href => "#"} Add to cart
        %span.hot-tag.bg-red NEW
    .col-md-4.col-sm-6
      .shopping-item
        %a{:href => "ecom-item-single.html"}
          = image_tag "ecommerce/2.png", class: "img-responsive"
        %h4
          %a{:href => "ecom-item-single.html"} Fugiat Nulla
          %span.color.pull-right $49
        .clearfix
        .visible-xs
          %a.btn.btn-color.btn-sm{:href => "#"} Buy Now
        .item-hover.bg-color.hidden-xs
          %a{:href => "#"} Add to cart
    .col-md-4.col-sm-6
      .shopping-item
        %a{:href => "ecom-item-single.html"}
          = image_tag "ecommerce/2.png", class: "img-responsive"
        %h4
          %a{:href => "ecom-item-single.html"} Eos Qui Ratione
          %span.color.pull-right $49
        .clearfix
        .visible-xs
          %a.btn.btn-color.btn-sm{:href => "#"} Buy Now
        .item-hover.bg-color.hidden-xs
          %a{:href => "#"} Add to cart
    .col-md-4.col-sm-6
      .shopping-item
        %a{:href => "ecom-item-single.html"}
          = image_tag "ecommerce/2.png", class: "img-responsive"
        %h4
          %a{:href => "ecom-item-single.html"} Natus Erwor Site
          %span.color.pull-right $49
        .clearfix
        .visible-xs
          %a.btn.btn-color.btn-sm{:href => "#"} Buy Now
        .item-hover.bg-color.hidden-xs
          %a{:href => "#"} Add to cart
        %span.hot-tag.bg-green HOT
    .col-md-4.col-sm-6
      .shopping-item
        %a{:href => "ecom-item-single.html"}
          = image_tag "ecommerce/2.png", class: "img-responsive"
        %h4
          %a{:href => "ecom-item-single.html"} Quasi Architects
          %span.color.pull-right $49
        .clearfix
        .visible-xs
          %a.btn.btn-color.btn-sm{:href => "#"} Buy Now
        .item-hover.bg-color.hidden-xs
          %a{:href => "#"} Add to cart
    .col-md-4.col-sm-6
      .shopping-item
        %a{:href => "ecom-item-single.html"}
          = image_tag "ecommerce/2.png", class: "img-responsive"
        %h4
          %a{:href => "ecom-item-single.html"} Quasi Architects
          %span.color.pull-right $49
        .clearfix
        .visible-xs
          %a.btn.btn-color.btn-sm{:href => "#"} Buy Now
        .item-hover.bg-color.hidden-xs
          %a{:href => "#"} Add to cart
    .col-md-4.col-sm-6
      .shopping-item
        %a{:href => "ecom-item-single.html"}
          = image_tag "ecommerce/2.png", class: "img-responsive"
        %h4
          %a{:href => "ecom-item-single.html"} Quasi Architects
          %span.color.pull-right $49
        .clearfix
        .visible-xs
          %a.btn.btn-color.btn-sm{:href => "#"} Buy Now
        .item-hover.bg-color.hidden-xs
          %a{:href => "#"} Add to cart
    .col-md-4.col-sm-6
      .shopping-item
        %a{:href => "ecom-item-single.html"}
          = image_tag "ecommerce/2.png", class: "img-responsive"
        %h4
          %a{:href => "ecom-item-single.html"} Quasi Architects
          %span.color.pull-right $49
        .clearfix
        .visible-xs
          %a.btn.btn-color.btn-sm{:href => "#"} Buy Now
        .item-hover.bg-color.hidden-xs
          %a{:href => "#"} Add to cart
  %ul.pagination
    %li.disabled
      %a{:href => "#"} «
    %li.active
      %a{:href => "#"}
        1
        %span.sr-only (current)
    %li
      %a{:href => "#"} 2
    %li
      %a{:href => "#"} 3
    %li
      %a{:href => "#"} 4
    %li
      %a{:href => "#"} 5
    %li
      %a{:href => "#"} »
