= render 'shared/admin/page_header', page_name: 'Add New About Us'

/ Edit images
= simple_form_for(@about_us, url: admin_about_u_path(@about_us), method: :patch, html: { class: 'form-horizontal' }) do |f|
  = f.input :name
  = f.input :description
  = f.button :submit
