= render 'shared/admin/page_header', page_name: 'Phone List'

%p= "Name : #{@phone.name}"
%p= "Price : #{@phone.price}"
%p= "Status : #{@phone.status}"
%p= "Tag Line : #{@phone.tag_line}"
%p= "Description : #{@phone.description}"
%p= "Availability : #{@phone.availability}"
