!!!
%html
%head
%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
%meta{:charset => "utf-8"}

%meta{:content => "Your description", :name => "description"}
%meta{:content => "Your,Keywords", :name => "keywords"}
%meta{:content => "ResponsiveWebInc", :name => "author"}
%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}

%link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", :rel => "stylesheet"}

%title SomnangPhoneShop

= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
= csrf_meta_tags
%body
  / Outer Starts
  .outer
    / Top bar starts
    .top-bar
      .container
        / Contact starts
        .tb-contact.pull-left
          / Email
          %i.fa.fa-envelope.color
          \&nbsp;
          %a{:href => "mailto:limsomnang678@gmail.com"} limsomnang678@gmail.com
          \&nbsp;&nbsp;
          / Phone
          %i.fa.fa-phone.color
          \&nbsp; 010 200022
        / Contact ends
        / Langauge starts
        .tb-language.dropdown.pull-right
          %a{"data-target" => "#", "data-toggle" => "dropdown", :href => "#"}
            %i.fa.fa-globe
            English
            %i.fa.fa-angle-down.color
          / Dropdown menu with languages
          %ul.dropdown-menu.dropdown-mini{:role => "menu"}
            %li
              %a{:href => "#"} Hindi
            %li
              %a{:href => "#"} Tamil
            %li
              %a{:href => "#"} Kanada
        / Language ends
        / Search section for responsive design
        .tb-search.pull-left
          %a.b-dropdown{:href => "#"}
            %i.fa.fa-search.square-2.rounded-1.bg-color.white
          .b-dropdown-block
            %form{:role => "form"}
              / Input Group
              .input-group
                %input.form-control{:placeholder => "Type Something", :type => "text"}
                  %span.input-group-btn
                    %button.btn.btn-color{:type => "button"} Search
        / Search section ends
        / Social media starts
        .tb-social.pull-right
          .brand-bg.text-right
            / Brand Icons
            %a.facebook{:href => "#"}
              %i.fa.fa-facebook.square-2.rounded-1
            %a.twitter{:href => "#"}
              %i.fa.fa-twitter.square-2.rounded-1
            %a.google-plus{:href => "#"}
              %i.fa.fa-google-plus.square-2.rounded-1
            %a.linkedin{:href => "#"}
              %i.fa.fa-linkedin.square-2.rounded-1
            %a.pinterest{:href => "#"}
              %i.fa.fa-pinterest.square-2.rounded-1
        / Social media ends
        .clearfix
    / Top bar ends
    / Header two Starts
    .header-2
      / Container
      .container
        .row
          .col-md-4
            / Logo section
            .logo
              %h1
                %a{:href => "index.html"}
                  = image_tag "logo-phoneshop.png"
                  &nbsp; Phone Shop

          .col-md-7
            / Navigation starts.
            .navy
              #menu-button Menu
              %ul.pull-right
                / Main menu
                %li
                  %a.active{:href => "index.html"} Home
                %li
                  %a{:href => "items-new.html"} New Products
                %li
                  %a{:href => "accessory.html"} Accessory
                %li
                  %a{:href => "promotion.html"} Specail Promotion
                %li
                  %a{:href => "about-us.html"} About Us
                %li
                  %a{:href => "contact-us.html"} Contact Us
            / Navigation ends
          .col-md-1
            / Search section
            .head-search.pull-right
              %a.b-dropdown{:href => "#"}
                %i.fa.fa-search.square-2.rounded-1.bg-color.white
              .b-dropdown-block
                %form{:role => "form"}
                  / Input Group
                  .input-group
                    %input.form-control{:placeholder => "Type Something", :type => "text"}
                      %span.input-group-btn
                        %button.btn.btn-color{:type => "button"} Search
            / Search section ends
            .clearfix
    / Header two ends
    / Main content starts
    .main-block
      / Shopping Items
      .ecommerce
        / Carousel
        /
          Bootstrap carousel usage
          Bootstrap carousel should have id. Below i am using "bs-carousel-X". Where "X" denotes number". If a page has more than 1 carousel, then add the new carousel with the id "bs-carousel-1", "bs-carousel-2". You also need to update the id in, "carousel indicators" section and "carousel control" section.
          
          Carousel comes with 3 main data attributes which you can customize. They are...
          data-interval - Time delay between item cycle. Default value "5000".
          data-pause - Pause on hover. Default value "pause".
          data-wrap - Continues cycle or stop at the end. Default value "true".
        / Outer layer
        #bs-carousel-1.carousel.carousel-two.slide{"data-interval" => "2000", "data-pause" => "hover", "data-ride" => "carousel", "data-wrap" => "true"}
          / Bootstrap indicators. If you don't need indicators, remove the below section
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#bs-carousel-1"}
            %li{"data-slide-to" => "1", "data-target" => "#bs-carousel-1"}
            %li{"data-slide-to" => "2", "data-target" => "#bs-carousel-1"}
          / Slides. You can also add captions
          .carousel-inner
            / Item, First item should have extra class "active"
            .item.active
              / Image
              = image_tag "slider/1.png" do
                / Content
                .carousel-two-content
                  %h3
                    %a{:href => "#"} SAMSUNG GALAXY S6
            .item
              = image_tag "slider/1.png" do
                / Content
                .carousel-two-content
                  %h3
                    %a{:href => "#"} SAMSUNG GALAXY NOTE4
            .item
              = image_tag "slider/1.png" do
                / Content
                .carousel-two-content
                  %h3
                    %a{:href => "#"} SPECAIL PROMOTION
          / Carousel controls (arrows). If you don't need controls, remove the below section
          %a.left.carousel-control{"data-slide" => "prev", :href => "#bs-carousel-1", :role => "button"}
            %span.fa.fa-chevron-left
          %a.right.carousel-control{"data-slide" => "next", :href => "#bs-carousel-1", :role => "button"}
            %span.fa.fa-chevron-right
        .container
          / Information Block
          .info
            .row
              .col-md-3.col-sm-6
                / Information Item
                .info-item.bg-red
                  / Number
                  %span.num-outer
                    %i.fa.fa-truck.red
                  / Heading
                  %h4 Free Delivery
                  / Sub Heading
                  %h5 Order Over $99
                  .clearfix
              .col-md-3.col-sm-6
                / Information Item
                .info-item.bg-green
                  / Number
                  %span.num-outer
                    %i.fa.fa-retweet.green
                  / Heading
                  %h4 Exchange
                  / Sub Heading
                  %h5 Within 30 days.
                  .clearfix
              .col-md-3.col-sm-6
                / Information Item
                .info-item.bg-orange
                  / Number
                  %span.num-outer
                    %i.fa.fa-credit-card.orange
                  / Heading
                  %h4 Easy Payment
                  / Sub Heading
                  %h5 All carts are separate.
                  .clearfix
              .col-md-3.col-sm-6
                / Information Item
                .info-item.bg-lblue
                  / Number
                  %span.num-outer
                    %i.fa.fa-phone.lblue
                  / Heading
                  %h4 Support
                  / Sub Heading
                  %h5 010 200022
                  .clearfix
          / Information block ends
          / Main content starts
          .main-block
            / Page heading two starts
            %hr
              / Page heading two ends
              / Shopping Items
              .container
                .ecommerce
                  .row
                    .col-md-9.col-sm-8.col-md-push-3.col-sm-push-4
                      / Shopping items content
                      .shopping-content
                        / Block Title
                        .block-heading-two
                          %h3
                            %span
                              %i.fa.fa-laptop.color>
                              \&nbsp; Phones
                        .row
                          .col-md-4.col-sm-6
                            / Shopping items
                            .shopping-item
                              / Image
                              %a{:href => "ecom-item-single.html"}
                                = image_tag "ecommerce/2.png", class: "img-responsive"
                              / Shopping item name / Heading
                              %h4
                                %a{:href => "ecom-item-single.html"} Quasi Architects
                                %span.color.pull-right $49
                              .clearfix
                              / Buy now button
                              /
                                <div class="visible-xs">
                                <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                                </div>
                              / Shopping item hover block &amp; link
                              .item-hover.bg-color.hidden-xs
                                %a{:href => "item-single.html"} Detail Phone
                          .col-md-4.col-sm-6
                            / Shopping items
                            .shopping-item
                              / Image
                              %a{:href => "ecom-item-single.html"}
                                = image_tag "ecommerce/2.png", class: "img-responsive"
                              / Shopping item name / Heading
                              %h4
                                %a{:href => "ecom-item-single.html"} Byances Kcepte
                                %span.color.pull-right $49
                              .clearfix
                              / Buy now button
                              /
                                <div class="visible-xs">
                                <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                                </div>
                              / Shopping item hover block &amp; link
                              .item-hover.bg-color.hidden-xs
                                %a{:href => "#"} Add to cart
                              / Hot tag
                              %span.hot-tag.bg-red NEW
                          .col-md-4.col-sm-6
                            / Shopping items
                            .shopping-item
                              / Image
                              %a{:href => "ecom-item-single.html"}
                                = image_tag "ecommerce/2.png", class: "img-responsive"
                              / Shopping item name / Heading
                              %h4
                                %a{:href => "ecom-item-single.html"} Cepturi Sintocc
                                %span.color.pull-right $49
                              .clearfix
                              / Buy now button
                              .visible-xs
                                %a.btn.btn-color.btn-sm{:href => "#"} Buy Now
                              / Shopping item hover block &amp; link
                              .item-hover.bg-color.hidden-xs
                                %a{:href => "#"} Add to cart
                          .col-md-4.col-sm-6
                            / Shopping items
                            .shopping-item
                              / Image
                              %a{:href => "ecom-item-single.html"}
                                = image_tag "ecommerce/2.png", class: "img-responsive"
                              / Shopping item name / Heading
                              %h4
                                %a{:href => "ecom-item-single.html"} Excepteur Sint
                                %span.color.pull-right $49
                              .clearfix
                              / Buy now button
                              .visible-xs
                                %a.btn.btn-color.btn-sm{:href => "#"} Buy Now
                              / Shopping item hover block &amp; link
                              .item-hover.bg-color.hidden-xs
                                %a{:href => "#"} Add to cart
                              / Hot tag
                              %span.hot-tag.bg-lblue HOT
                          .col-md-4.col-sm-6
                            / Shopping items
                            .shopping-item
                              / Image
                              %a{:href => "ecom-item-single.html"}
                                = image_tag "ecommerce/2.png", class: "img-responsive"
                              / Shopping item name / Heading
                              %h4
                                %a{:href => "ecom-item-single.html"} Occam Cupid
                                %span.color.pull-right $49
                              .clearfix
                              / Buy now button
                              .visible-xs
                                %a.btn.btn-color.btn-sm{:href => "#"} Buy Now
                              / Shopping item hover block &amp; link
                              .item-hover.bg-color.hidden-xs
                                %a{:href => "#"} Add to cart
                              / Hot tag
                              %span.hot-tag.bg-red NEW
                          .col-md-4.col-sm-6
                            / Shopping items
                            .shopping-item
                              / Image
                              %a{:href => "ecom-item-single.html"}
                                = image_tag "ecommerce/2.png", class: "img-responsive"
                              / Shopping item name / Heading
                              %h4
                                %a{:href => "ecom-item-single.html"} Fugiat Nulla
                                %span.color.pull-right $49
                              .clearfix
                              / Buy now button
                              .visible-xs
                                %a.btn.btn-color.btn-sm{:href => "#"} Buy Now
                              / Shopping item hover block &amp; link
                              .item-hover.bg-color.hidden-xs
                                %a{:href => "#"} Add to cart
                          .col-md-4.col-sm-6
                            / Shopping items
                            .shopping-item
                              / Image
                              %a{:href => "ecom-item-single.html"}
                                = image_tag "ecommerce/2.png", class: "img-responsive"
                              / Shopping item name / Heading
                              %h4
                                %a{:href => "ecom-item-single.html"} Eos Qui Ratione
                                %span.color.pull-right $49
                              .clearfix
                              / Buy now button
                              .visible-xs
                                %a.btn.btn-color.btn-sm{:href => "#"} Buy Now
                              / Shopping item hover block &amp; link
                              .item-hover.bg-color.hidden-xs
                                %a{:href => "#"} Add to cart
                          .col-md-4.col-sm-6
                            / Shopping items
                            .shopping-item
                              / Image
                              %a{:href => "ecom-item-single.html"}
                                = image_tag "ecommerce/2.png", class: "img-responsive"
                              / Shopping item name / Heading
                              %h4
                                %a{:href => "ecom-item-single.html"} Natus Erwor Site
                                %span.color.pull-right $49
                              .clearfix
                              / Buy now button
                              .visible-xs
                                %a.btn.btn-color.btn-sm{:href => "#"} Buy Now
                              / Shopping item hover block &amp; link
                              .item-hover.bg-color.hidden-xs
                                %a{:href => "#"} Add to cart
                              / Hot tag
                              %span.hot-tag.bg-green HOT
                          .col-md-4.col-sm-6
                            / Shopping items
                            .shopping-item
                              / Image
                              %a{:href => "ecom-item-single.html"}
                                = image_tag "ecommerce/2.png", class: "img-responsive"
                              / Shopping item name / Heading
                              %h4
                                %a{:href => "ecom-item-single.html"} Quasi Architects
                                %span.color.pull-right $49
                              .clearfix
                              / Buy now button
                              .visible-xs
                                %a.btn.btn-color.btn-sm{:href => "#"} Buy Now
                              / Shopping item hover block &amp; link
                              .item-hover.bg-color.hidden-xs
                                %a{:href => "#"} Add to cart
                          .col-md-4.col-sm-6
                            / Shopping items
                            .shopping-item
                              / Image
                              %a{:href => "ecom-item-single.html"}
                                = image_tag "ecommerce/2.png", class: "img-responsive"
                              / Shopping item name / Heading
                              %h4
                                %a{:href => "ecom-item-single.html"} Quasi Architects
                                %span.color.pull-right $49
                              .clearfix
                              / Buy now button
                              .visible-xs
                                %a.btn.btn-color.btn-sm{:href => "#"} Buy Now
                              / Shopping item hover block &amp; link
                              .item-hover.bg-color.hidden-xs
                                %a{:href => "#"} Add to cart
                          .col-md-4.col-sm-6
                            / Shopping items
                            .shopping-item
                              / Image
                              %a{:href => "ecom-item-single.html"}
                                = image_tag "ecommerce/2.png", class: "img-responsive"
                              / Shopping item name / Heading
                              %h4
                                %a{:href => "ecom-item-single.html"} Quasi Architects
                                %span.color.pull-right $49
                              .clearfix
                              / Buy now button
                              .visible-xs
                                %a.btn.btn-color.btn-sm{:href => "#"} Buy Now
                              / Shopping item hover block &amp; link
                              .item-hover.bg-color.hidden-xs
                                %a{:href => "#"} Add to cart
                          .col-md-4.col-sm-6
                            / Shopping items
                            .shopping-item
                              / Image
                              %a{:href => "ecom-item-single.html"}
                                = image_tag "ecommerce/2.png", class: "img-responsive"
                              / Shopping item name / Heading
                              %h4
                                %a{:href => "ecom-item-single.html"} Quasi Architects
                                %span.color.pull-right $49
                              .clearfix
                              / Buy now button
                              .visible-xs
                                %a.btn.btn-color.btn-sm{:href => "#"} Buy Now
                              / Shopping item hover block &amp; link
                              .item-hover.bg-color.hidden-xs
                                %a{:href => "#"} Add to cart
                        / Pagination
                        %ul.pagination
                          %li.disabled
                            %a{:href => "#"} «
                          %li.active
                            %a{:href => "#"}
                              1
                              %span.sr-only (current)
                          %li
                            %a{:href => "#"} 2
                          %li
                            %a{:href => "#"} 3
                          %li
                            %a{:href => "#"} 4
                          %li
                            %a{:href => "#"} 5
                          %li
                            %a{:href => "#"} »
                        / Pagination end
                    .col-md-3.col-sm-4.col-md-pull-9.col-sm-pull-8
                      / Shopping Sidebar
                      .sidebar
                        / Heading
                        %h2
                          %i Brands
                        / Sidebar Menu
                        %ul.list-unstyled.my-list
                          %li
                            %h4
                              %a.active{:href => "#"}
                                %i{class: "fa fa-apple", style: "color: gray;"}
                                &nbsp;&nbsp;&nbsp; Apple
                          %li
                            %h4
                              %a{:href => "#"}
                                %i{class: "fa fa-android", style: "color: green;"}
                                &nbsp;&nbsp;&nbsp; Samsung
                          %li
                            %h4
                              %a{:href => "#"}
                                %i{class: "fa fa-android", style: "color: green;"}
                                &nbsp;&nbsp; Hawai
                          %li
                            %h4
                              %a{:href => "#"}
                                %i{class: "fa fa-btc", style: "color: black;"}
                                &nbsp;&nbsp;&nbsp;  Black Berry
                          %li
                            %h4
                              %a{:href => "#"}
                                %i{class: "fa fa-windows", style: "color: #2e9afe;"}
                                &nbsp;&nbsp;&nbsp; Nokie
                          %li
                            %h4
                              %a{:href => "#"}
                                %i{class: "fa fa-android", style: "color: green;"}
                                &nbsp;&nbsp;&nbsp; Sony
                          %li
                            %h4
                              %a{:href => "#"}
                                %i{class: "fa fa-android", style: "color: green;"}
                                &nbsp;&nbsp;&nbsp; Singtect
                          %li
                            %h4
                              %a{:href => "#"}
                                %i{class: "fa fa-vimeo-square", style: "color: #facc2e;"}
                                &nbsp;&nbsp;&nbsp; Vertu
                          %li
                            %h4
                              %a{:href => "#"} All
                        / Heading
                        %h2 Find us on Facebook
                        / Sidebar Menu
                        %ul.list-unstyled.my-list
                          %li Facebook
                  / Recent items Ends
          / Main content ends
          / Recent items Starts
          .recent-items
            / Block heading two
            .block-heading-two
              %h3
                %span Recent Items
            / Owl carousel block starts
            / Change values of data-items, data-auto-play, data-pagination &amp; data-single-item based on your needs
            .owl-carousel{"data-auto-play" => "true", "data-items" => "5", "data-pagination" => "true", "data-single-item" => "false"}
              / Carousel item
              .owl-content
                .padd-15
                  %a{:href => "#"}
                    = image_tag "ecommerce/1.png", class: "img-responsive"
                  %h4
                    %a{:href => "#"}
                      Motorola G
                      %span.color.pull-right $25
                  .clearfix
              .owl-content
                .padd-15
                  %a{:href => "#"}
                    = image_tag "ecommerce/1.png", class: "img-responsive"
                  %h4
                    %a{:href => "#"}
                      Google Nexus 7
                      %span.color.pull-right $25
                  .clearfix
              .owl-content
                .padd-15
                  %a{:href => "#"}
                    = image_tag "ecommerce/1.png", class: "img-responsive"
                  %h4
                    %a{:href => "#"}
                      Samsung Galaxy
                      %span.color.pull-right $25
                  .clearfix
              .owl-content
                .padd-15
                  %a{:href => "#"}
                    = image_tag "ecommerce/1.png", class: "img-responsive"
                  %h4
                    %a{:href => "#"}
                      Lenovo Phonepad
                      %span.color.pull-right $25
                  .clearfix
              .owl-content
                .padd-15
                  %a{:href => "#"}
                    = image_tag "ecommerce/1.png", class: "img-responsive"
                  %h4
                    %a{:href => "#"}
                      Asus Ideapad
                      %span.color.pull-right $25
                  .clearfix
              .owl-content
                .padd-15
                  %a{:href => "#"}
                    = image_tag "ecommerce/1.png", class: "img-responsive"
                  %h4
                    %a{:href => "#"}
                      Micromax Canvas
                      %span.color.pull-right $25
                  .clearfix
              .owl-content
                .padd-15
                  %a{:href => "#"}
                    = image_tag "ecommerce/1.png", class: "img-responsive"
                  %h4
                    %a{:href => "#"}
                      Sony Xperia Pro
                      %span.color.pull-right $25
                  .clearfix
              .owl-content
                .padd-15
                  %a{:href => "#"}
                    = image_tag "ecommerce/1.png", class: "img-responsive"
                  %h4
                    %a{:href => "#"}
                      Apple iPhone 5S
                      %span.color.pull-right $25
                  .clearfix
              .owl-content
                .padd-15
                  %a{:href => "#"}
                    = image_tag "ecommerce/1.png", class: "img-responsive"
                  %h4
                    %a{:href => "#"}
                      Galaxy Tab 2
                      %span.color.pull-right $25
                  .clearfix
              .owl-content
                .padd-15
                  %a{:href => "#"}
                    = image_tag "ecommerce/1.png", class: "img-responsive"
                  %h4
                    %a{:href => "#"}
                      Karboon Tab
                      %span.color.pull-right $25
                  .clearfix
            / Owl carousel block ends
          / Recent items Ends
    / Main content ends
    / Foot Starts
    .foot
      / Container
      .container
        .row
          .col-md-3.col-sm-6
            / Foot Item
            .foot-item
              / Heading
              %h5.bold
                %i.fa.fa-user>
                \&nbsp;&nbsp;About_Us
              %p ដើម្បីទទួលបាននូវពត៏មានពិសេសៗ នឹងសេវាកម្មថ្មីៗ​​ ជាពិសេសមានបង្ហាញនូវ វីដេអូអំពីផលិតផលដែលទើបមកដល់ថ្មីៗកំពុងពេញនិយមសំរាប់មិត្តៗ យុវវ័យ​ សូមចុចទៅលើ​ logo Socail Network ដែលមាននៅខាងក្រោមដូចតទៅ​ ៖
              .brand-bg
                / Social Media Icons
                %a.facebook{:href => "#"}
                  %i.fa.fa-facebook.circle-3
                %a.twitter{:href => "#"}
                  %i.fa.fa-twitter.circle-3
                %a.google-plus{:href => "#"}
                  %i.fa.fa-google-plus.circle-3
                %a.linkedin{:href => "#"}
                  %i.fa.fa-linkedin.circle-3
                %a.pinterest{:href => "#"}
                  %i.fa.fa-pinterest.circle-3
              /
                <div class="subscribe-box">
                <h5 class="bold">Subscribe :</h5>
                
                <form role="form">
                
                <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter Email Id">
                <span class="input-group-btn">
                <button class="btn btn-color" type="button">Subscribe</button>
                </span>
                </div>
                </form>
                </div>
          .col-md-3.col-sm-6
            / Foot Item
            .foot-item
              / Heading
              %h5.bold
                %i.fa.fa-comments>
                \&nbsp;&nbsp;Recommend
              %p ដើម្បីទទួលបាននូវទូរសព្ទ័ដៃ​​ ដែលមានគុណភាពល្អ​​និង មានបត្រ័ធានាត្រឹមត្រូវ​ សូមមកជាវ រឺមកមើលនៅហាងលក់ទូរសព្ទ័ដៃ​ សំណាង (Somnang Phone Shop)
              / Foot Item Content
              /
                <div class="foot-item-content">
                <ul class="list-unstyled">
                
                <li><a href="#">Denocing Sapientes Contain</a></li>
                <li><a href="#">Dignissim Electronic Typeset</a></li>
                <li><a href="#">Laborum Desktop Publishing</a></li>
                <li><a href="#">Quibus PageMaker Including</a></li>
                <li><a href="#">Denocing Sapientes Contain</a></li>
                </ul>
                </div>
          .col-md-3.col-sm-6
            / Foot Item
            .foot-item
              / Heading
              %h5.bold
                %i.fa.fa-picture-o>
                \&nbsp;&nbsp;Recent Images
              / Foot Item Content
              .foot-item-content
                / Foot Recent Image
                .foot-recent-img
                  %a.lightbox{:href => "img/gallery/small/1.jpg"}
                    = image_tag "gallery/1.jpg", class: "img-responsive img-thumbnail"
                  %a.lightbox{:href => "img/gallery/small/2.jpg"}
                    = image_tag "gallery/1.jpg", class: "img-responsive img-thumbnail"
                  %a.lightbox{:href => "img/gallery/small/3.jpg"}
                    = image_tag "gallery/1.jpg", class: "img-responsive img-thumbnail"
                / Foot Recent Image
                .foot-recent-img
                  %a.lightbox{:href => "img/gallery/small/1.jpg"}
                    = image_tag "gallery/1.jpg", class: "img-responsive img-thumbnail"
                  %a.lightbox{:href => "img/gallery/small/2.jpg"}
                    = image_tag "gallery/1.jpg", class: "img-responsive img-thumbnail"
                  %a.lightbox{:href => "img/gallery/small/3.jpg"}
                    = image_tag "gallery/1.jpg", class: "img-responsive img-thumbnail"
                .foot-recent-img
                  %a.lightbox{:href => "img/gallery/small/1.jpg"}
                    = image_tag "gallery/1.jpg", class: "img-responsive img-thumbnail"
                  %a.lightbox{:href => "img/gallery/small/2.jpg"}
                    = image_tag "gallery/1.jpg", class: "img-responsive img-thumbnail"
                  %a.lightbox{:href => "img/gallery/small/3.jpg"}
                    = image_tag "gallery/1.jpg", class: "img-responsive img-thumbnail"
          .col-md-3.col-sm-6
            / Foot Item
            .foot-item
              / Heading
              %h5.bold
                %i.fa.fa-building-o>
                \&nbsp;&nbsp;Contact Us
              / Foot Item Content
              .foot-item-content.address
                / Heading
                %h6.bold
                  %i.fa.fa-home>
                  \&nbsp;&nbsp;Somnang Phone Shop
                / Paragraph
                %p.add
                  Chak Angre krom district, Mean chey khan, street 2,
                  Phnom Penh.
                %p.tel
                  %i.fa.fa-phone
                  Tel : 010 200022
                  %br
                    %i.fa.fa-envelope
                    Mail :
                    %a{:href => "#"} limsomnang678@gmail.com
                    %br
                      %i.fa.fa-calendar
                      Business Hours : 7:30 - 5:30
    / Foot Ends
    / Footer Starts
    %footer
      / Container
      .container
        / Footer Content
        / Paragraph
        %p.pull-left
          Copyright © 2014 -
          %a{:href => "#"} Your Site
        %ul.list-inline.pull-right
          / List
          %li
            %a{:href => "index.html"} Home
          %li
          %li
            %a{:href => "service.html"} New Products
          %li
            %a{:href => "feature.html"} Accessory
          %li
            %a{:href => "feature.html"} Promotions
          %li
            %a{:href => "about-us.html"} About
          %li
            %a{:href => "contact-us.html"} Contact
        / Clearfix
        .clearfix
    / Footer Ends
  / Outer Ends
  / Scroll to top
  %span.totop{:style => "display: block;"}
    %a{:href => "#"}
      %i.fa.fa-angle-up.bg-color
  
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
